.calcite-mode-dark {
    --calcite-color-brand: #cd071e;
    
}

html,
body,
calcite-shell {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;


}