:root {
    --calcite-color-brand: #cd071e;
    --calcite-color-text-1: #ffffff;  
    --calcite-color-text-2: #edd3d3;  
}

html,
body,
calcite-shell {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;


}